.text {
  color: $admin-dark-blue;
  text-align: center;
  font-weight: 700;
}

.contentWrapper {
  @extend%aligncenter;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: $admin-white;
  @include desktop {
    width: 740px;
    height: 540px;
  }
}
.layout {
  width: 100%;
  @extend%aligncenter;
  flex-direction: column;
  gap: 40px;
  h2 {
    color: $admin-dark-blue;
    // font-family: ' Montserrat';
    font-size: 32px;
    font-weight: 700;
  }
  @include desktop {
    width: 400px;
  }
}
.formWrapper {
  @extend%aligncenter;
  flex-direction: column;
  gap: 10px;
}
.forgotPassword {
  color: $admin-dark-blue;
  font-weight: 700;
  align-self: flex-start;
}
.errorText {
  color: $admin-red;
  font-size: 18px;
  font-weight: 500;
}
.inputWrapper {
  @extend%aligncenter;
  flex-direction: column;
  gap: 32px;
}
