$accent: #e4c3ba;

$headerBG: #e4c3ba;
$bodyBG: #fffaf7;
$sectionBG: #ffece6;
$feedBackBG: #ffece6;
$feedBackTitelBG: #e4c3ba;
$quoteBG: #ebd2cae5;

$textColor: #101010;
$titleColor: #3c0000;
$buttonTextColor: #3c0000;
$buttonTextColorHover: #fffbf8;
$navLinkColor: #3c0000;
$navLinkHover: #fff4ec;
$white: #fffbf8;
$red: #bc0000;

$buttonBG: #e4c3ba;
$buttonBurgerMenuBG: #fff4ec;
$buttonBurgerMenuHover: #e4c3ba;
$arrowBG: #ffece6;
$modalBG: #fff4ec;
$writeMeLinkBG: #ebccc399;
$formBorderColor: #3c0000;
$formTextColor: #3c0000;
$formBG: #fffbf8;

$transition: all 500ms ease;

$admin-dark-blue: #314385;
$admin-white: #fcfbfb;
$admin-light-gray: #6f6f6f;
$admin-light-blue: #e0e6fb;
$admin-black: #343232;
