$accent: #e4c3ba;

$headerBG: #e4c3ba;
$bodyBG: #fffaf7;
$sectionBG: #ffece6;
$feedBackBG: #ffece6;
$feedBackTitelBG:#E4C3BA;
$quoteBG: #ebd2cae5;



$textColor: #101010;
$titleColor: #3c0000;
$buttonTextColor: #3c0000;
$buttonTextColorHover: #fffbf8;
$navLinkColor: #3c0000;
$navLinkHover: #fff4ec;
$white: #fffbf8;
$red: #bc0000;

$buttonBG: #e4c3ba;
$buttonBurgerMenuBG: #fff4ec;
$buttonBurgerMenuHover: #e4c3ba;
$arrowBG: #ffece6;
$modalBG: #FFF4EC;
$writeMeLinkBG:#ebccc399;
$formBorderColor:#3C0000;
$formTextColor:#3C0000;
$formBG:#FFFBF8;


$transition: all 500ms ease;
