@import '_variables';
@import '_mixins';
@import '_placeholders';

body {
  overflow-x: hidden;
max-width: 100%;
  min-height: 100vh;
}
main {
  min-height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;

  margin-top: 68px;

  @media screen and (min-width: 768px) {
    margin-top: 110px;
  }
  @media screen and (min-width: 1240px) {
    margin-top: 134px;
  }
}

header,
footer {
  width: 100vw;
  background: $headerBG;
  padding-top: 7px;
  padding-bottom: 7px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;
}
