@import '_variables';
@import '_mixins';
@import '_placeholders';

body {
  min-height: 100vh;
}
main {
  margin-top: 68px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    margin-top: 110px;
  }
  @media screen and (min-width: 1240px) {
    margin-top: 134px;
  }
}

header,
footer {
  width: 100vw;
  background: $headerBG;
  padding-top: 7px;
  padding-bottom: 7px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;
}
.app {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
  }
}
