.button {
  @extend%aligncenter;
}

.burgerButton {
  @extend%aligncenter;

  width: 24px;
  height: 24px;
  padding: 6px 3px;
}

.burgerMenuCloseButton {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  padding: 5.5px;
  border-radius: 5px;
  background-color: $buttonBG;
}

.buttonAddMore {
  width: 241px;
  height: 42px;
  @extend%aligncenter;
  border-radius: 15px;
  background-color: $buttonBG;
  color: $buttonTextColor;
  margin: 0 33px 24px auto;
  &:hover,
  &:focus {
    background-color: $buttonBG;
    color: $buttonTextColorHover;
  }
}
