.button {
  @extend%aligncenter;
}

.burgerButton {
  @extend%aligncenter;

  width: 24px;
  height: 24px;
  padding: 6px 3px;
}

.burgerMenuCloseButton {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  padding: 5.5px;
  border-radius: 5px;
  background-color: $buttonBG;
}
