.button {
  height: 32px;
  @extend%aligncenter;
  border-radius: 15px;
  background-color: $buttonBG;
  color: $buttonTextColor;
  margin-left: auto;
  font-size: 12px;
  padding: 8.5px 19.5px;
  @media screen and (min-width: 768px) {
    min-width: 241px;
    height: 42px;
    font-size: 16px;
  }
  &:hover,
  &:focus {
    background-color: $buttonBG;
    color: $buttonTextColorHover;
  }
}

.burgerButton {
  @extend%aligncenter;

  min-width: 24px;
  height: 24px;
  padding: 6px 3px;
  padding: 0;
}

.burgerMenuCloseButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  padding: 5.5px;
  border-radius: 5px;
  background-color: $buttonBG;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
    min-width: 32px;
    height: 32px;
  }
}

.buttonAddMore {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 100;
}

.formButton {
  width: 120px;
  height: 32px;
  @extend%aligncenter;
  border-radius: 15px;
  background-color: $buttonBG;
  color: $buttonTextColor;
  margin-left: auto;
  font-size: 12px;
  padding: 8.5px 19.5px;
  @include tablet {
    width: 239px;
    height: 36px;
    font-size: 16px;
  }
  @include desktop {
    width: 241px;
    height: 42px;
    font-size: 16px;
  }
  &:hover,
  &:focus {
    background-color: $buttonBG;
    color: $buttonTextColorHover;
  }
}
