.logo {
  width: 61px;
  height: 50px;
  transition: $transition;
  &:hover,
  &:focus {
    .logoText {
      fill: $red;
    }
  }

  @media screen and (min-width: 768px) {
    width: 104px;
    height: 92px;
  }
  @media screen and (min-width: 1240px) {
    width: 130px;
    height: 116px;
  }
}

.logoText {
  transition: $transition;
  fill: #fffbf8;
}
