.wrapper {
  @extend%aligncenter;
  flex-wrap: wrap;
  gap: 40px;
}
.layout {
  position: relative;
  @extend%aligncenter;
  flex-direction: column;
  gap: 24px;
  width: 450px;
  padding: 48px 25px;
  border-radius: 30px;
  background: var(--Gray-blue, #c3c6d3);
}

.deleteIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  svg {
    width: 32px;
    height: 32px;
  }
}
