.wrapper {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include desktop {
    width: 430px;
    height: 350px;
  }

  .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: 350px;
    background: $admin-light-blue;
    border: 2px dashed $admin-dark-blue;
    margin: 0 auto;

    border-radius: 15px;
    overflow: hidden;

    @include desktop {
      width: 430px;
      height: 350px;
    }
    .innerWrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
      padding: 10px;
      outline: 1px solid red;
      .icon {
        width: 187px;
        height: 187px;
        cursor: pointer;
        fill: $admin-light-gray;
      }
      p {
        color: $admin-light-gray;
        font-size: 16px;
      }
    }
    .imagePreview {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .errorWrap {
    position: absolute;
    bottom: -15px;
    left: 5px;
    width: 100%;
  }

  .errorMessage {
    color: $admin-red;
    font-size: 12px;
    font-weight: 500;
  }
}
.borderGreen {
  border: 2px dashed $admin-green;
}
.borderRed {
  border: 2px dashed $admin-red;
}
.borderblue {
  border: 2px dashed $admin-red;
}
