.layout {
  display: flex;
  width: 430px;
  height: 350px;
  gap: 20px;
  background: #e0e6fb;
  border-radius: 15px;
  border: 1px solid #daddf1;
}
.list {
  @extend%aligncenter;
  flex-wrap: wrap;
  gap: 24px;
}
.listItemAdd {
  @extend%aligncenter;
  form {
    @extend%aligncenter;
    flex-direction: column;
    gap: 20px;
  }
}
.listItem {
  position: relative;
  width: 430px;
  height: 350px;
  overflow: hidden;
}

.deleteIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  @extend%aligncenter;
  background: $admin-red;
  font-weight: 800;
  border-radius: 15px;

  svg {
    width: 40px;
    height: 40px;
  }
}

.button {
  display: flex;
  width: 273px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  background: $admin-dark-blue;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background: $admin-light-blue;
    color: $admin-dark-blue;
  }
}
