.button {
  display: flex;
  // width: 150px;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  color: $admin-white;
  background: $admin-dark-blue;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background: $admin-light-blue;
    color: $admin-dark-blue;
  }
}

.button_light {
  color: $admin-dark-blue;
  background: $admin-white;
}
