.buttonLoadMore {
  @extend%aligncenter;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.29;
  color: #3c0000;
  -webkit-color: #3c0000;
  -moz-color: #3c0000;
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    border-bottom: 1px solid #3c0000;
  }

  @include tablet {
    gap: 12px;
    font-size: 18px;
  }
  @include desktop {
    font-size: 24px;
  }
}
