//commpon
.title {
  width: 100%;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
  color: $titleColor;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 32px;
  }
}

.loadingText {
  font-family: 'Script';
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: $red;
  margin-bottom: 4px;
  @include tablet {
    font-size: 18px;
    margin-bottom: 8px;
  }
  @include desktop {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
