.socialList {
  @extend%aligncenter;
  gap: 12px;

  li {
    width: 24px;
    height: 24px;
    @extend%aligncenter;

    a {
      @extend%aligncenter;
      width: 100%;
      height: 100%;
      transition: $transition;
      &:hover,
      &:focus {
        svg path {
          fill: $navLinkHover;
        }
      }
    }
  }
}

.shareList {
  @extend%aligncenter;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0em;
  color: #3c0000;
}
