footer {
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 54px;
    padding-bottom: 28px;
  }
}
.contentWrapper {
  @extend%aligncenter;

  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
  @media screen and (min-width: 1240px) {
    flex-direction: row;
    gap: 60px;
  }

  outline: 2px solid blue;
}

.logoWrapper {
  width: 100%;
  display: flex;
  gap: 45px;

  justify-content: center;
}

.navigationWrapper {
  @extend%aligncenter;

  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
  @media screen and (min-width: 1240px) {
    gap: 60px;
  }
}

.navList {
  width: max-content;
}
.navListLink {
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'MontserratMedium';
  font-size: 14px;

  line-height: 1.2;
  letter-spacing: 0em;
  color: $navLinkColor;
  text-align: center;
  padding: 12.5px 2px;
  transition: $transition;
  &:hover,
  &:focus {
    color: $navLinkHover;
  }
  @media screen and (min-width: 1240px) {
    font-size: 24px;
    padding: 10px;
  }
}

.active {
  background: $navLinkHover;
  border-radius: 10px;
  &:hover,
  &:focus {
    color: $navLinkColor;
  }
}
.allRight {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;

  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;

  margin-top: 11px;
}
