.cardWrapper {
  width: 250px;
  height: 235px;
  @extend%aligncenter;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $feedBackBG;
  border-radius: 30px;
  overflow: hidden;
  @include desktop {
    width: 351px;
    height: 330px;
  }
}

.cardTitle {
  width: 100%;
  height: 50px;
  @extend%aligncenter;
  justify-content: flex-start;
  background-color: $feedBackTitelBG;
  padding: 10px 18px;

  font-family: 'Lora', serif;
  font-size: 24px;

  @include desktop {
    height: 70px;
    padding: 15px 29px 14px;
    font-size: 32px;
  }
}

.cardInfo {
  width: 166px;

  @extend%aligncenter;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.2;

  @include desktop {
    width: 285px;
    font-size: 24px;
    margin-top: 24px;
  }
}
.cardInfo_price {
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0em;
  margin-top: 4px;
  align-self: center;

  @include desktop {
    font-size: 32px;
    margin-top: 10px;
  }
}

//PriceCarKids only

.cardWrapperKids {
  @extend%aligncenter;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 285px;
  background-color: $feedBackBG;
  border-radius: 30px;
  overflow: hidden;
  @include desktop {
    width: 350px;
    min-height: 447px;
  }
}
.singleConsultationWrapper {
  width: 100%;
  @extend%aligncenter;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Lora', serif;
  font-weight: 700;
  @include desktop {
    font-size: 24px;
  }
}

.singleConsultationDuration {
  font-family: 'Montserrat';
  font-weight: 400;
}
