// edit feedback

.wrapper {
  width: 400px;
  @extend%aligncenter;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 24px;
}
.content {
  width: 400px;
  border-radius: 10px;
  border: 1px solid $admin-black;
  padding: 10px 12px;
  color: $admin-black;
  font-size: 18px;
  font-weight: 500;
}
.label {
  color: $admin-dark-blue;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
