/// swiper content

.articleWrapper {
  width: 100%;

  @extend%aligncenter;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.articleContentWrapper {
  width: 250px;
  height: 454px;
  justify-content: space-between;
  align-items: flex-start;

  @extend%aligncenter;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 300px;
    height: 497px;
  }
  @media screen and (min-width: 1240px) {
    width: 350px;
    height: 650px;
  }
}

.articleImg {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  // object-position: top;
  @media screen and (min-width: 768px) {
    width: 300px;
    height: 300px;
  }
  @media screen and (min-width: 1240px) {
    width: 350px;
    height: 350px;
  }
}
.articleTitle {
  min-height: 20px;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.29;

  text-align: left;
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1240px) {
    min-height: 62px;
    font-size: 24px;
    line-height: 1.25;
  }
}
.articleDescription {
  width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 12px;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (min-width: 748px) {
    width: 300px;
    font-size: 16px;
    line-height: 1.63;
  }
  @media screen and (min-width: 1240px) {
    width: 350px;
    font-size: 16px;
    line-height: 1.63;
  }
}
.articleLink {
  @extend%aligncenter;

  gap: 8px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: $red;

  svg {
    width: 24px;
    height: 24px;
  }
}
