@font-face {
  font-family: 'Script';
  src: url('./fonts/BrushScript.ttf') format('truetype');
  font-weight: 400; /* Adjust the font-weight accordingly */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 500; /* Adjust the font-weight accordingly */
  font-style: normal;
  // font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400; /* Adjust the font-weight accordingly */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 500; /* Adjust the font-weight accordingly */
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Lora', sans-serif;
  background: $white;
  color: $textColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

iframe {
  border: none;
}

// .swiper-pagination-bullet {
//   width: 8px;
//   height: 8px;
//   background-color: $white;
//   border: 1px solid $lightblue;
//   opacity: 1;
// }

// .swiper-pagination-bullet-active {
//   width: 9px;
//   height: 9px;
//   color: $accent;
//   background: $accent;
//   border: none;
// }

// .sectionTitle {
//   color: $black;
//   font-size: 1.125rem; //18px
//   font-style: normal;
//   font-weight: 700;
//   line-height: 140%;
//   @media screen and (min-width: 768px) {
//     font-size: 2rem; //32px
//   }
// }
