.layout {
  @extend%aligncenter;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  form {
    height: 100%;
  }
}

.contentWrapper {
  @extend%aligncenter;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
